body {
    font-family: "Mariupol_Bold", sans-serif;
    background-color: #f6f5f1;
    transition: all 0.8s;
}

/* Запрещаем выделение текста */
body {
    -webkit-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.my-button {
    display: flex; 
    justify-content: left;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    width: 94%;
    height: 40px;
    font-family: "Mariupol_Bold", sans-serif;
    font-size: 22px;
    padding: 30px 20px;
    margin-left: 15px;
    border: none;
    transition: all 0.6s;
}

.my-button:hover {
    background-color: rgb(235, 235, 235);
    width: 94%;
    border-radius: 20px;
  }

.my-button:active {
    background-color: rgb(235, 235, 235);
    width: 92%;
    height: 38px;
    transition: all 0.2s;
    transform: translateY(3px);
}

.img-my-button {
    margin-right: 15px;
}

.thick-yellow {
    height: 2px; /* Толщина разделителя */
    width: 94%;
    background-color: rgb(255, 231, 11); /* Цвет разделителя */
    border: none; /* Убираем стандартную границу */
}
.versions{
    font-family: "Mariupol_Regular", sans-serif;
    color: gray;
    position: absolute;
    right: 10px;
    bottom: 118px;
    font-weight: lighter;
}

footer {
    background-color: white;
}
